<!DOCTYPE html>
<html>
  <head>
    <title><%= blocks.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
      <%- blocks.header %>
  </header>
  <section class="container">
    <h1><%= blocks.title %></h1>

    <p>Welcome to <%= title %></p>

    <%- body -%>
  </section>
  <foter>
      <%- blocks.footer %>
  </foter>
  </body>
</html>
